
/* font-family: 'Playfair Display', serif; */

img{
    max-width: 100%;
}

#header{
    height: 80px;
    width: 100vw;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

h1{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}

.header-left{
    padding-left: 40px;
    padding-bottom: 8px;
}
.header-right{
    padding-right: 120px;
}

#form1{
    position: relative;
    box-sizing: border-box;
    display: block;
    padding: 3px 10px;
    border-radius: 5px;
    height: 2.2em;
    width: 250px;
    overflow: hidden;
    background: white;
}
#sbox{
    border: none;
    outline: none;
    height: 2.0em;
}

#sbtn{
    border: none;
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1.3em;
    border: none;
    background: none;
    color: rgb(211, 211, 211);
    font-weight: lighter;
    position: absolute;
    height: 2.5em;
    right: 8px;
    top: -10px;
    outline : none;
}

.use_icon {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    text-align: right;
    padding-top: 5px;
}

#navi{
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    color: white;
    padding: 60px 25px;
    background-color: #121212;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 20;
    opacity: 0;
}

#navi a{
    color: white;
    display: inline-block;
    transition: .2s;
    -webkit-transform: scale(1);
    transform: scale(1);
}

#navi a:hover{
    color: lightblue;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.open #navi{
    left: 0;
    opacity: 1;
}

#navi ul{
    margin: 0;
    padding: 0;
}

#navi ul.nav-menu{
    margin-bottom: 60px;
    border-top: solid 1px white;
}

#navi ul.nav-menu li{
    position: relative;
    margin: 0;
    padding: 20px 0;
    border-bottom: solid 1px white;
}

#navi ul.nav-sns li{
    padding: 5px 0;
}

.nav-menu a {
    text-decoration: none;
}

.toggle_btn{
    display: block;
    position: fixed;
    top: 25px;
    right: 45px;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 20;
}

.toggle_btn span{
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: white;
    border-radius: 4px;
    transition: all 0.5s;
}

.toggle_btn span:nth-child(1){
    top: 4px;
}

.toggle_btn span:nth-child(2){
    top: 14px;
}

.toggle_btn span:nth-child(3){
    bottom: 4px;
}

.open .toggle_btn span{
    background-color: white;
}

.open .toggle_btn span:nth-child(1){
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-315deg);
}

.open .toggle_btn span:nth-child(2){
    opacity: 0;
}

.open .toggle_btn span:nth-child(3){
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(315deg);
}

#mask{
    display: none;
    transition: all .5s;
}

.open #mask{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 10;
    cursor: pointer;
}

.main-visual video{
    width: 100vw;
    height: 100vh;
}

.inner{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 15% 0;
}

.inner-title{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    padding-bottom: 30px;
}

.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content{
    width: 30%;
    margin: 5% auto;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.content-img{
    overflow: hidden;
    max-width: 100%;
    background:  #000;
    cursor: pointer;
}

.content-img img{
    display: block;
}

.content-text{
    font-family: 'Playfair Display', serif;
    padding-left: 10px;
    padding-bottom: 10px;
}
.content-title{
    padding-top: 10px;
    padding-bottom: 20px;
}

.content-price{
    font-size: 20px;
}

.content-img a{
    display: block;
    transition-duration: 0.3s;
}

.content-img a:hover{
    opacity: 0.6;
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.content-price{
    padding-top: 5%;
}

.swiper-button-next, .swiper-button-prev, .swiper-pagination{
    color: rgba(255, 255, 255, 0.4);
}

.swiper-pagination-bullet{
    background-color: rgba(255, 255, 255, 0.4);
}

.item{
    width: 300px;
    height: 400px;
    position: fixed;
    right: 20px;
    bottom: -400px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
    transition: all .5s ease;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.item p{
    margin: 5% auto;
    font-weight: bold;
    font-size: 20px;
}

.item.on{
    bottom: 50px;
}

.item-top{
    overflow: hidden;
    max-width: 100%;
    background:  #000;
    cursor: pointer;
}

.item-top img{
    display: block;
}

.item-top a{
    display: block;
    transition-duration: 0.3s;
}

.item-top a:hover{
    opacity: 0.6;
    transform: scale(1.1);
    transition-duration: 0.3s;
}








#contact{
    color: white;
    background-color: #121212;
    padding: 50px 0;
    font-family: 'Playfair Display', serif;
}

#contact .sub-title{
    color: white;
    text-align: center;
    font-size: 50px;
    padding-bottom: 20px;

}

#contact .contact-text{
    max-width: 1240px;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#contact .contact-info p{
    margin-bottom: 30px;
}

#contact .contact-info,
#contact .contact-form{
    width: 45%;
}

#contact .contact-form input,
#contact .contact-form textarea{
    width: 100%;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}

#contact .contact-form .button input{
    width: 200px;
    color: white;
    background-color: #121212;
    border: solid 1px white;
    padding: 12px 0;
    margin-bottom: 0;
}

#contact .contact-form .button input:hover{
    color: #202020;
    background-color: white;
}







/* ---------------------商品紹介ページ---------------------- */

img{
    padding-top: 10%;
    padding-bottom: 10%;
}

.product1-text{
    font-family: 'Playfair Display', serif;
}
.title{
    padding-top: 25%;
    font-size: 20px;
    padding-bottom: 5%;
}

.product1-price{
    font-size: 20px;
    padding-bottom: 5%;
}

.product1{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    
}

.product1-text{
    width: 45%;
    flex-direction: column;
    justify-content: space-between;
}


.box{
    width: 45%;
    margin: 0 auto;
    z-index: 0;
    margin-top: 10%;
}

.swiper-wrapper {
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    width: 100%;
    height: 100%;
  }
  
  

  


