img{
    max-width: 100%;
}

#header{
    height: 90px;
    width: 100vw;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header-left{
    padding-left: 40px;
}

.header-right{
    padding-right: 130px;
}

#navi{
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    color: white;
    padding: 60px 25px;
    background-color: #121212;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 20;
    opacity: 0;
}

#navi a{
    color: white;
}

.open #navi{
    left: 0;
    opacity: 1;
}

#navi ul{
    margin: 0;
    padding: 0;
}

#navi ul.nav-menu{
    margin-bottom: 60px;
    border-top: solid 1px white;
}

#navi ul.nav-menu li{
    position: relative;
    margin: 0;
    padding: 20px 0;
    border-bottom: solid 1px white;
}

#navi ul.nav-sns li{
    padding: 5px 0;
}

.toggle_btn{
    display: block;
    position: fixed;
    top: 25px;
    right: 45px;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 20;
}

.toggle_btn span{
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all 0.5s;
}

.toggle_btn span:nth-child(1){
    top: 4px;
}

.toggle_btn span:nth-child(2){
    top: 14px;
}

.toggle_btn span:nth-child(3){
    bottom: 4px;
}

.open .toggle_btn span{
    background-color: white;
}

.open .toggle_btn span:nth-child(1){
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-315deg);
}

.open .toggle_btn span:nth-child(2){
    opacity: 0;
}

.open .toggle_btn span:nth-child(3){
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(315deg);
}

#mask{
    display: none;
    transition: all .5s;
}

.open #mask{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 10;
    cursor: pointer;
}

.inner{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content{
    width: 24%;
}














#contact{
    color: white;
    background-color: #121212;
    padding: 50px 0;
}

#contact .sub-title{
    color: white;
}

#contact .contact-text{
    max-width: 1240px;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#contact .contact-info p{
    margin-bottom: 30px;
}

#contact .contact-info,
#contact .contact-form{
    width: 45%;
}

#contact .contact-form input,
#contact .contact-form textarea{
    width: 100%;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}

#contact .contact-form .button input{
    width: 200px;
    color: white;
    background-color: #121212;
    border: solid 1px white;
    padding: 12px 0;
    margin-bottom: 0;
}

#contact .contact-form .button input:hover{
    color: #202020;
    background-color: white;
}